
<mat-card>
  <mat-card-content>
    <form [formGroup]="achievementForm" (ngSubmit)="getAchievements()" class="example-form">

      <mat-form-field class="example-full-width">
        <mat-label>User ID:</mat-label>
        <input id="userId" type="text" formControlName="userId" required matInput>
      </mat-form-field> 
      <mat-form-field class="example-full-width">
        <mat-label>Game ID:</mat-label>
        <input id="gameId" type="text" formControlName="gameId" required matInput>
      </mat-form-field> 
      <div *ngIf="achievementForm.controls.userId.errors?.['required']">userId is required.</div>
      <div *ngIf="achievementForm.controls.gameId.errors?.['required']">gameId is required.</div>
    
      <br>
      <button type="submit" [disabled]="!achievementForm.valid" mat-raised-button>Отправить</button>
    
    </form>
  </mat-card-content>
</mat-card>
<br>
<ng-container *ngIf="dataSource">
  <achievements-table [data]="dataSource"></achievements-table>
</ng-container>


