<mat-card class="tableCard">
  <mat-card-content>
    <table mat-table [dataSource]="data" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let achievement"> {{achievement.name}} </td>
      </ng-container>
      <ng-container matColumnDef="achieved">
        <th mat-header-cell *matHeaderCellDef> Achieved </th>
        <td mat-cell *matCellDef="let achievement"> {{!!achievement.achieved}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </table>
  </mat-card-content>
</mat-card>
<div class="footerT"></div>

