<mat-card class="tableCard">
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="data.length > 0; else text" matSort>

      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef> Icon </th>
        <td mat-cell *matCellDef="let achievement"> 
          <div mat-card-avatar class="example-header-image">
            <img mat-card-image [src]="achievement.icon" alt="RUDEV">
          </div>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let achievement"> {{achievement.name}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let achievement"> {{achievement.description}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="achieved">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Achieved </th>
        <td mat-cell *matCellDef="let achievement"> 
          <div *ngIf="!!achievement.achieved; then done else empty"></div>
            <ng-template #done>
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="done">done</mat-icon>
            </ng-template>  
            <ng-template #empty>
              <mat-icon aria-hidden="false"></mat-icon>
            </ng-template>
        </td>
        <td mat-footer-cell *matFooterCellDef>Total achievements: {{achievementCompeted}}/{{totalAchievement}}</td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
      <tr mat-footer-row *matFooterRowDef="columnsToDisplay; sticky: true"></tr>

    </table>
  </mat-card-content>
</mat-card>
<div class="footerT"></div>
<ng-template #text><b>Stats not found</b></ng-template>

