<h2 mat-dialog-title><b>Steam Gog service</b></h2>
<mat-dialog-content class="mat-typography">
  <h3><b>About the project</b></h3>
  <p>This project is a training work on working with the Steam API, as well as technologies such as: Angular and Nest.js.</p>

  <h3><b>Instruction</b></h3>
  <p>Most of the service's functions will not be available to a user who is not authorized using their Steam profile.
    To log in, use the button in the upper right corner of the toolbar, or follow the link by clicking the "Login now" 
    button in this window.</p>

  <h3><b>Future of the project &amp; Prospects</b></h3>
  <p>The service will develop further, new features will be added, such as the ability to write comments to other users on Steam, 
    viewing hidden profiles, viewing discounts and promotions for games in the Steam store, and much more.</p>

  <h3><b>About the developer</b></h3>
  <p>Hi all! My name is Michael.</p>
  <p>I can’t boast of many years of experience in coding; in some ways, this is my debut project.</p>
  <p>In 2016, I entered Tyumen State University and studied at the Department of Information Systems and Technologies. 
    In 2020, I graduated from the university and received a bachelor's degree. At the same time, 
    I am working on the largest project in my life - it was a CRM for a large oil and gas producing company. Once ready, 
    it was planned to implement this CRM into the enterprise system.
    The essence of the project was to work with drilling schedules, which were previously stored in Excel format - 
    the service had to accept such files with a lot of data and transform them into diagrams, 
    allowing them to be dynamically worked with, interacting with employees from other departments. 
    A role model was developed specifically for this purpose.</p>
  <p>However, having completed the work, I did not go further to develop in the field - I went into sports, 
    which I had been doing since I was 15 years old. At the moment, I have long wanted to change the area for development, 
    which is why I took on this project (to catch up with the old, learn new things and develop further).</p>
  <p>As far as possible and willing, I will continue to improve this service. Don't judge harshly and good luck to you!</p>  
</mat-dialog-content>
<mat-dialog-actions class="actions" align="end">
  <button mat-button mat-dialog-close (click)="login()" cdkFocusInitial>Login now</button>
  <button mat-button [mat-dialog-close]="true" >Ok</button>
</mat-dialog-actions>
