<p class="head">game works!</p>
<button (click)="clickLog()">click</button>

<!-- <script type="text/javascript">
  const eventSource = new EventSource('/auth/sse');
  eventSource.onmessage = ({ data }) => {
    const message = document.createElement('li');
    message.innerText = 'New message: ' + data;
    document.body.appendChild(message);
    console.log(message);
  }
</script> -->

<!-- <ul>
  <li *ngFor="let event of events">
    {{ event.message }}
  </li>
</ul> -->

<table mat-table [dataSource]="games$ | async" class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let game"> {{game.name}} </td>
  </ng-container>
  <ng-container matColumnDef="priceDollar">
    <th mat-header-cell *matHeaderCellDef> Price $ </th>
    <td mat-cell *matCellDef="let game"> {{game.priceDollar}} </td>
  </ng-container>
  <ng-container matColumnDef="priceRub">
    <th mat-header-cell *matHeaderCellDef> Price P </th>
    <td mat-cell *matCellDef="let game"> {{game.priceRub}} </td>
  </ng-container>
  <ng-container matColumnDef="priceEuro">
    <th mat-header-cell *matHeaderCellDef> Price Э </th>
    <td mat-cell *matCellDef="let game"> {{game.priceEuro}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>
