<mat-drawer-container autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-sidenav-container class="example-container">
      <mat-sidenav mode="side" opened>
        <mat-nav-list>
          <p class="title">Steam Gog</p>
          <a mat-list-item routerLink="/achievements" href="/achievements">Achievements</a>
          <a mat-list-item routerLink="/game" href="/game">Games</a>
          <a mat-list-item routerLink="/steam" href="/steam">Steam</a>
          <a mat-list-item routerLink="/steam-games" href="/steam">Steam games</a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        
      </mat-sidenav-content>
    </mat-sidenav-container>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar>
      <button type="button" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Steam Gog</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
      <img src="../assets/sits_small.png" alt="" (click)="login()">
    </mat-toolbar>
  </div>
  <router-outlet />
</mat-drawer-container>

<!-- <mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
    <router-outlet />
  </div>

</mat-drawer-container> -->


