//СТиль для карточки над таблицей (где данные вбиваются)
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.footerT {
  height: 25px;
}

.gameCount {
  padding-top: 20px;
  padding-left: 6px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
  color: rgb(45, 11, 11);
}