th {
  color: black;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
}

td {
  color: rgb(45, 11, 11);
}

table {
  padding: 20px;
  padding-bottom: 0px;
  border-radius: 5px;
}

app-steam-games {
  padding-bottom: 30px;
}

mat-sidenav-content {
  padding-bottom: 30px;
}

tfoot {
  display: 1; 
  bottom: 20px; 
  z-index: 10;
}

.tableCard {
  background-color: #eeeeee;
  margin-left: 8px;
  margin-right: 16px;
  //width: auto;
}